html body {
  font-family: 'Sacramento', cursive;
  margin: 0;
}

.container {
  margin-top: calc(25vh);
  width: 100%;
  position: absolute;
}

.greeting-text {
  text-align: center;
  font-size: 64px;
  margin: 25px auto;
  color: #777;
}

.img {
  border: 1px solid #aaa;
  display: block;
  margin: 0 auto;
}

.img-responsive {
  width: 10%;
}

.img-circle {
  border-radius: 50%;
}
