body {
  padding: 0;
  margin: 0;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $black;
}

h1, h2 {
  font-weight: normal;
}

a {
  color: $color-primary;
}

a, button {
  cursor: pointer;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}
