$black-darker: #333;
$black: #4E4E4E;
$black-lighter: #686969;
$grey: #A0A0A0;
$grey-lighter: #CCC;
$white: #F2F2F2;
$white-darker: #ECECEC;
$color-primary: #F86332;
$color-default: #888;
$color-info: #2CA8FF;
$color-success: #42B983;
$color-warning: #FFB236;
$color-danger: #FF3636;

$font-weight-exlight: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;
